body{
    margin: 0px 0px 0px 0px;
    font-family: 'Julius Sans One';
}
#foto_logo{
    width: 100%;
    height: 18vh;
}
.nav{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #272A57;
}

/*Poner hover*/
.centro{
    font-size: 2vw;
    text-decoration: none;
}

/* Parte Inicio */
#Inicio:link{
    color: #E380A7;
}
#Inicio:visited{
    color: #E380A7;
}
#Inicio:active{
    color: #E380A7;
}
#Inicio:focus{
    color: #E380A7;
}
#Inicio:hover{
    color: #E380A7;
    color: #8387A1;
}
/* Parte estudios */
#Cursos:link{
    color: #E380A7;
}
#Cursos:visited{
    color: #E380A7;
}
#Cursos:active{
    color: #E380A7;
}
#Cursos:focus{
    color: #E380A7;
}
#Cursos:hover{
    color: #E380A7;
    color: #8387A1;
    text-decoration: none;
}

/* Parte Sobrenosaltres */
#sobrenosaltres:link{
    color: #E380A7;
}
#sobrenosaltres:visited{
    color: #E380A7;
}
#sobrenosaltres:active{
    color: #E380A7;
}
#sobrenosaltres:focus{
    color: #E380A7;
}
#sobrenosaltres:hover{
    color: #E380A7;
    color: #8387A1;
    text-decoration: none;
}

/* Parte contacte */
#Contacte:link{
    color: #E380A7;
}
#Contacte:visited{
    color: #E380A7;
}
#Contacte:active{
    color: #E380A7;
}
#Contacte:focus{
    color: #E380A7;
}
#Contacte:hover{
    color: #E380A7;
    color: #8387A1;
    text-decoration: none;
}

#Moodle:link{
    color: #E380A7;
}
#Moodle:visited{
    color: #E380A7;
}
#Moodle:active{
    color: #E380A7;
}
#Moodle:focus{
    color: #E380A7;
}
#Moodle:hover{
    color: #E380A7;
    color: #8387A1;
}

/* Parte del body */
.contenedor1{
    display: flex;
    flex-direction: column;
}

#imagen2{
    width: 100%;
    height: 55vw;
    margin-bottom: -19vw;
}

.text1{
    background-color: #272A57;
    width: 30vw;
    height: 22vh;
    font-size: 7vh;
    color: white;
    position:relative;
    left: 120vh;
    top: -50vw;
    padding-top: 5vh;
    padding-left: 10vh;
}

#tringulito{
    height: 5vw;
    width: 100%;
    margin-top: 19vw;
}

/* Formulario */
#partebajo2{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-top: -15vw;
}

#partebajo3{
    color: black;
    position: relative;
    left: 12vw;
    top: 15vh;
    height: 35vh;
    font-size: 2.5vh;
}

#form{
    background-color: #E6E9EC;
    width: 40vw;
    height: 75vh;
    left: 50vw;
    top: 5vh;
    padding-top: 2vw;
}

.form2{
    margin-left: 8vw;
    background-color: #D9D9D9;
    padding-left: 0.5vw;
    height: 3.8vh;
    width: 25vw;
}
#textitoform{
    margin-left: 8vw;
    background-color: #D9D9D9;
    padding-left: 0.5vw;
    width: 25vw;
}

#inscribir{
    margin-left: 5vw;
    font-size: 35px;
}

#botonenviar{
    margin-left: 15vw;
    background-color: #E380A7;
    width: 10vw;
    height: 6vh;
    border-radius: 3vh;
    font-size: 3vh;
}

#mapa{
    width: 100%;
    margin-bottom: -0.3vw;
}


/* Parte pie */
#pie{
    top: 100vw;
    padding: 1vh;
    background-color: #272A57;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #D9D9D9;
}

.text3{
    color: #E380A7;
    font-size: 2.5vh;
}

#pie_logo{
    width: 22vw;
    height: 18vh;
}

.logos{
    width: 12vh;
    height: 3vw;
}

#logo2{
    width: 9vh;
}

/* Parte responsive */
@media (max-width: 400px){
    /* Parte de la cabezera */
    #foto_logo{
        width: 100%;
        height: 7vh;
    }
    .nav{
        max-height: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #272A57;
    }

    /* Parte del body */
    .contenedor1{
        display: flex;
        flex-direction: column;
    }

    #imagen1{
        width: 100%;
        height: 20vh;
    }

    .text1{
        background-color: #272A57;
        width: 28vw;
        height: 5vh;
        font-size: 1.5vh;
        color: white;
        position:absolute;
        left: 28vh;
        top: 25vw;
        padding-top: 2vh;
        padding-left: 2vh;
    }

    #tringulito{
        margin-top: 19vw;
        height: 2vh;
        margin-bottom: 25vw;
    }

    #partebajo2{
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw;
        height: 100vw;
    }
    
    #partebajo3{
        color: black;
        left: 2vw;
        top: -10vh;
        height: 35vh;
        font-size: 1.5vh;
        margin-top: 15vw;
        margin-bottom: 55vw;
    }

    #text4{
        text-align: center;
    }

    #text5{
        margin-left: 2vw;
    }

    #partebajo4{
        display: flex;
        justify-content: space-between;
    }

    #form{
        background-color: #E6E9EC;
        width: 80%;
        height: 45vh;
        margin-left: 2vw;
        margin-top: -100vw;
    }
    
    .form2{
        margin-left: 15vw;
        background-color: #D9D9D9;
        padding-left: 0.5vw;
        height: 2vh;
        width: 60%;
        font-size: 2vw;
    }
    #textitoform{
        margin-left: 15vw;
        background-color: #D9D9D9;
        padding-left: 0.5vw;
        width: 60%;
        height: 5vw;
    }
    
    #inscribir{
        margin-left: -2vw;
        text-align: center;
        font-size: 15px;
        margin-top: 2vw;
    }

    #botonenviar{
        margin-left: 30vw;
        background-color: #E380A7;
        width: 20%;
        height: 3vh;
        border-radius: 3vh;
        font-size: 1.5vh;
        margin-top: -5vw;
    }

    /* Parte del mapa */
    #mapa{
        width: 100%;
        height: 50vw;
    }

    /* Parte del pie */
    #pie{
        background-color: #272A57;
        display: flex;
        justify-content: space-around;
        color: #D9D9D9;
    }
    
    .text3{
        color: #E380A7;
        font-size: 0.8vh;
        margin-top: 2vh;
    }
    
    #pie_logo{
        width: 100%;
        height: 10vw;
        margin-top: 2vw;
    }
    
    .logos{
        width: 35%;
        height: 6vw;
        margin-left: -1vw;
        margin-top: -0.8vh;
    }
    
    #logo2{
        margin-left: 0.5vh;
        width: 30%;
        height: 6vw;
        margin-top: -6vh;
    }
}