body{
    margin: 0px 0px 0px 0px;
    font-family: 'Julius Sans One';
    
}

#cabezera {
    margin: 0px 0px 0px 0px;
}

#foto_logo{
    width: 100%;
    height: 18vh;
}
.nav{
    max-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #272A57;
}

/*Poner hover*/
.centro{
    font-size: 2vw;
    text-decoration: none;
}

/* Parte Inicio */
#Inicio:link{
    color: #E380A7;
}
#Inicio:visited{
    color: #E380A7;
}
#Inicio:active{
    color: #E380A7;
}
#Inicio:focus{
    color: #E380A7;
}
#Inicio:hover{
    color: #E380A7;
    color: #8387A1;
}
/* Parte estudios */
#Cursos:link{
    color: #E380A7;
}
#Cursos:visited{
    color: #E380A7;
}
#Cursos:active{
    color: #E380A7;
}
#Cursos:focus{
    color: #E380A7;
}
#Cursos:hover{
    color: #E380A7;
    color: #8387A1;
    text-decoration: none;
}

/* Parte Sobrenosaltres */
#sobrenosaltres:link{
    color: #E380A7;
}
#sobrenosaltres:visited{
    color: #E380A7;
}
#sobrenosaltres:active{
    color: #E380A7;
}
#sobrenosaltres:focus{
    color: #E380A7;
}
#sobrenosaltres:hover{
    color: #E380A7;
    color: #8387A1;
    text-decoration: none;
}

/* Parte contacte */
#Contacte:link{
    color: #E380A7;
}
#Contacte:visited{
    color: #E380A7;
}
#Contacte:active{
    color: #E380A7;
}
#Contacte:focus{
    color: #E380A7;
}
#Contacte:hover{
    color: #E380A7;
    color: #8387A1;
    text-decoration: none;
}

#Moodle:link{
    color: #E380A7;
}
#Moodle:visited{
    color: #E380A7;
}
#Moodle:active{
    color: #E380A7;
}
#Moodle:focus{
    color: #E380A7;
}
#Moodle:hover{
    color: #E380A7;
    color: #8387A1;
}

/* Parte del body */
.contenedor1{
    display: flex;
    flex-direction: column;
}

#imagen2{
    width: 100%;
    height: 132vh;
}

#tringulito{
    top: 135vh;
    bottom: 5px;
    height: 5vw;
    width: 100%;
    margin-top: -0.6vh;
    margin-bottom: 5vw;
}

/* Parte */

/**/
.todos{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-top: 0;
}

.todos figure{
    position: relative;
    height: 325px;
    width: 430px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px;
    color: rgba(0,0,0,0.50);
    cursor: pointer;
    top: -12vh;
}

.todos figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.todos figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.todos figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.todos figure:hover > .capa h2{
    margin-top: 110px;
    margin-bottom: 15px;
}

.todos figure .capa h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    margin-top: 30px;
    transition: all 500ms ease-out;
}

.todos figure .capa p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    margin: auto;
}
/* parte dos */
.todos1{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-top: 0;
}

.todos1 figure{
    position: relative;
    height: 320px;
    width: 430px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px;
    color: rgba(0,0,0,0.50);
    cursor: pointer;
    top: -25vh;
}

.todos1 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.todos1 figure .capa1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.todos1 figure:hover > .capa1{
    opacity: 1;
    visibility: visible;
}

.todos1 figure:hover > .capa1 h2{
    margin-top: 80px;
    margin-bottom: 15px;
}

.todos1 figure .capa1 h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    margin-top: 30px;
    transition: all 500ms ease-out;
}

.todos1 figure .capa1 p{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    margin: auto;
}

/* parte tres */
.todos3{
    position: relative;
    width: 90%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 15;
}

.todos3 figure{
    position: relative;
    height: 300px;
    width: 410px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px;
    color: rgba(0,0,0,0.50);
    cursor: pointer;
    top: -20vh;
    left: 10vh;
}

.todos3 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.todos3 figure .capa3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.todos3 figure:hover > .capa3{
    opacity: 1;
    visibility: visible;
}

.todos3 figure:hover > .capa3 h2{
    margin-top: 80px;
    margin-bottom: 15px;
}

.todos3 figure .capa3 h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    margin-top: 15px;
    transition: all 500ms ease-out;
}

.todos3 figure .capa3 p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    margin: auto;
}

/* Parte pie */
#pie{
    top: 100vw;
    padding: 1vh;
    background-color: #272A57;
    display: flex;
    justify-content: space-around;
    color: #D9D9D9;
}

.text3{
    color: #E380A7;
    font-size: 2.5vh;
}

#pie_logo{
    width: 22vw;
    height: 18vh;
}

.logos{
    width: 12vh;
    height: 3vw;
    margin-left: -2vw;
}

#logo2{
    margin-left: 2vh;
    width: 9vh;
}

@media (max-width: 400px){
    /* Parte de la cabezera */
    #foto_logo{
        width: 100%;
        height: 7vh;
    }
    .nav{
        max-height: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #272A57;
    }

    /* Parte del body */
    #imagen2{
        width: 100%;
        height: 30vh;
    }
    #tringulito{

        height: 3vh;
    }


    /* Parte del body */
    .todos{
        position: relative;
        width: 35%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin-top: 10vw;
    }
    
    .todos figure{
        position: relative;
        height: 40vw;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 15px 25px;
        color: rgba(0,0,0,0.50);
        cursor: pointer;
        top: -2vh;
        left: 10vw;
    }
    
    .todos figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }
    
    .todos figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(11,103,123,0.6);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    
    .todos figure:hover > .capa{
        opacity: 1;
        visibility: visible;
    }
    
    .todos figure:hover > .capa h2{
        margin-top: 110px;
        margin-bottom: 15px;
    }
    
    .todos figure .capa h2{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        margin-top: 30px;
        transition: all 500ms ease-out;
    }
    
    .todos figure .capa p{
        color: #fff;
        font-size: 18px;
        line-height: 1.5;
        width: 100%;
        margin: auto;
    }
    /* parte dos */
    .todos1{
        position: relative;
        width: 35%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        top: -10wh;
        margin-left: 55vw;
    }
    
    .todos1 figure{
        position: relative;
        height: 40vw;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 15px 25px;
        color: rgba(0,0,0,0.50);
        cursor: pointer;
        top: -52vh;
    }
    
    .todos1 figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }
    
    .todos1 figure .capa1{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(11,103,123,0.6);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    
    .todos1 figure:hover > .capa1{
        opacity: 1;
        visibility: visible;
    }
    
    .todos1 figure:hover > .capa1 h2{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    
    .todos1 figure .capa1 h2{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        margin-top: 30px;
        transition: all 500ms ease-out;
    }
    
    .todos1 figure .capa1 p{
        color: #fff;
        font-size: 20px;
        line-height: 1.5;
        width: 100%;
        margin: auto;
    }
    
    /* parte tres */
    .todos3{
        position: relative;
        width: 60%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin-top: 15;
        
    }
    
    .todos3 figure{
        position: relative;
        height: 30vw;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 15px 25px;
        color: rgba(0,0,0,0.50);
        cursor: pointer;
        top: -50vh;
        left: 9vh;
    }
    
    .todos3 figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }
    
    .todos3 figure .capa3{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(11,103,123,0.6);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    
    .todos3 figure:hover > .capa3{
        opacity: 1;
        visibility: visible;
    }
    
    .todos3 figure:hover > .capa3 h2{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    
    .todos3 figure .capa3 h2{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        margin-top: 15px;
        transition: all 500ms ease-out;
    }
    
    .todos3 figure .capa3 p{
        color: #fff;
        font-size: 18px;
        line-height: 1.5;
        width: 100%;
        margin: auto;
    }


    /* Parte del pie */
    #pie{
        background-color: #272A57;
        display: flex;
        justify-content: space-between;
        color: #D9D9D9;
    }
    
    .text3{
        color: #E380A7;
        font-size: 0.8vh;
        margin-top: 2vh;
    }
    
    #pie_logo{
        width: 100%;
        height: 10vw;
        margin-top: 2vw;
    }
    
    .logos{
        width: 35%;
        height: 6vw;
        margin-left: -1vw;
        margin-top: -0.8vh;
    }
    
    #logo2{
        margin-left: 0.5vh;
        width: 30%;
        height: 6vw;
        margin-top: -6vh;
    }
}