body{
    margin: 0 auto;
    font-family: 'Arial';
}

.contenedor1{
    background-color: black;
    width: 100%;
    max-width: 150%;
    height: 5vw;
    position: fixed;
}

.logo1{
    margin-left: 0%;
    width: 50%;
}

.caja_1{
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding-top: 1%;
    margin-right: 5rem;
    margin-left: 10rem;

}

.link1{
    cursor: pointer;
    text-decoration: none;
    color: gold;
}
.link1:hover,.descargar:hover{
    color: white;
}



/* parte 2*/
.caja2{
    width: 0 auto;
    display: flex;
}

.colorfondo{
    position: absolute;
    width: 100%;
    height: 81%;
    margin-top: 5vw;
    background-color: yellow;
    opacity: 33%;
}

#imagen1{
    max-width: 100%;
    margin-top: 5%;
}

.caja_2{
    position: relative;
    text-align: left;
    left: 10%;
    margin-right: 50%;
    margin-left: -90%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.descargar{
    cursor: pointer;
    text-decoration: black;
    background-color: transparent;
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;*/
    padding: 15px;
    margin-top: 15px;
}


.negro{
    color: black;
}

.blanco{
    color: white;
    font-weight: 500;
}

#dispo1{
    margin-top: 10%;
    width: 200%;
    height: 60%;
    margin-left: 150%;
}

.caja_2{
    display: grid;
    grid-template-areas: "texto imagen";
    grid-area: texto_inicio imagen_ordenador;
    gap: 10rem;
}